.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.editor-header{
  background-color: rgb(57, 57, 58);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

.console {
  background-color: rgb(39, 40, 35);
  font-size: 14px;
  height: 30vh;
  width: 800px;
  overflow: auto;
  white-space: pre-wrap;
}

.console-header{
  background-color: rgb(58, 58, 57);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

.run-button{
  margin: 30px;
  width: 100px;
}